.App{
  background: #1c1c1c;
  min-height: 100vh;
  animation: animate 5s infinite;

}

.App-header{
  padding: 1rem 2rem;
  border-bottom: 1px solid #e1e1e131;
}

.Logo {
  font-size: calc(5px + 2vmin);
  color: rgb(228, 222, 222);
}

.Container{
  
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
  padding-top: 2rem ;
  padding-left: 2rem;
}


.Column{
  background-color: rgb(49, 47, 47);
}

